<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <div>
        {% for Cart in obj %}
        <img src="{{ Cart.product.image.url }}" alt="{{ Cart.product.name }}" style="max-width: 200px; max-height: 200px;">
        <h2>{{ Cart.name }}</h2>
        <p>Description: {{ Cart.description }}</p>
        <p>Price: ${{ Cart.price }}</p>
    
        {% csrf_token %}
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Add to Cart</button>
        {% endfor %}
        </form>
    </div>
</body>
</html>
